

ion-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .conteudo-area {
    background-color: black;
  }
  
  * {
    color: black;
  }
  
  
  ion-content {
    max-height: 120vh;
  }
  
  ion-menu-item {
  
    padding: 25px;
  
  }
  
  .bg-light {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    border-bottom: 1px solid black;
  }
  
  .native-input.sc-ion-input-md {
    padding: 20px !important;
  }
  
  ion-item {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  ion-tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: calc(100vh - 50px);
    background-color: #003300;
    height: 50px;
    z-index: 10;
  }
  
  
  .logo {
  
    padding-top: 10px;
    width: 100vw;
    display: flex;
    height: 100vh;
    background-image: url('../../assets/Road.jpg');
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
  
  .btn-esqueci{
    background-color: red;
  }
  ion-button {
    margin-top: 20px;
    /* Espaçamento acima do botão de enviar */
    width: 100%;
    /* Largura total do botão */
  }
  
  .imagem {
    width: 80%;
  }
  
  .margin-bottom {
    margin-bottom: 100px;
  
  }
  
  .tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
  }
  
  .danger {
    color: red;
  }
  
  .active {
    background-color: #003300;
    color: white;
  }
  
  .text-light {
    color: #fff;
  }
  
  .margin-top {
    margin-top: 100px;
  }
  
  .icon {
    margin-right: 40px;
  }
  
  form {
    background-color: rgb(143, 4, 4);
    padding: 10px;
    width: 90vw;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .titulo-acima {
    background-color: #003300;
    height: 100%;
    padding: 20px;
    color: white;
  }
  
  
  .btn {
    background-color: #1cc88a;
  }
  
  .map-container {
    margin: 20px;
  }
  
  .btn-salvar {
    background-color: gray;
    color: white;
    border-radius: 5px;
  }