<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo-acima">Cadastrar Abastecimento</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


    <div class="logo">
      <div class="tudo">
        <form (ngSubmit)="onSubmit()">

          <ion-item>
            <ion-label position="stacked">Data</ion-label>
            <ion-input type="date" name="Data" class="data" [(ngModel)]="Data" [value]="Data"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Veículo</ion-label>
            <ion-select name="IDVeiculo" [(ngModel)]="IDVeiculo">
              <ion-select-option *ngFor="let veiculo of dadosVeiculos" [value]="veiculo.ID">
                {{ veiculo.Nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Valor Litro</ion-label>
            <ion-input type="number" name="QtLitros" [(ngModel)]="QtLitros"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Valor Total</ion-label>
            <ion-input type="number" name="Valor" [(ngModel)]="Valor"></ion-input>
          </ion-item>

          <ion-button color="primary" class="btn-salvar" type="submit">Salvar</ion-button>

        </form>
      </div>
    </div>


  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="home()" tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="rotas()" tab="library">
        <ion-icon name="map-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="relatorios()" tab="library">
        <ion-icon name="document-text"></ion-icon>
      </ion-tab-button>

      <ion-tab-button class="active" (click)="abastecimento()" tab="library">
        <ion-icon class="text-light" name="funnel"></ion-icon>
      </ion-tab-button>


      <ion-tab-button (click)="combustivel()" tab="logout">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="sair()" tab="logout">
        <ion-icon color="danger" name="log-out-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>